<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Cargando..</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/album.css}" rel="stylesheet">
    
    <link  th:href="@{/css/form.css}" rel="stylesheet">
    
    
  </head>

  <body>

  <script>
    var searchParams = new URLSearchParams(window.location.search);
    var id = searchParams.get('id');
    console.log(id);
    window.onload = function() {



        $.ajax({

               url:"http://localhost:8080/v1/usuarios/"+id,
               type: 'GET',
               contentType: 'application/json',
               success: function(data){
                    console.log(data);
                    document.getElementById("nombre").innerHTML = data.nombreDeUsuario;
                    document.getElementById("des").innerHTML = data.descripcion;
                    document.title = data.nombreDeUsuario;
               		$("#fotoUsuario").attr("src",data.imagen);
               		document.getElementById("fotoUsuario").className = "rounded-circle";

                    },
                    error: function(data) {
                        alert("Error al recuperar los datos del usuario");
                    }
            });

           

    };

    function addPost(){
     	var form = $('#fileUploadForm')[0];
    	var data = new FormData(form);
        var jsonDataObj = JSON.stringify({
                "descripcion": $("#descripcionPost").val(),
                "localidad": $("#locacion").val()});
        data.append("jsondata", jsonDataObj);
        
    	$.ajax({
    	
			enctype: 'multipart/form-data',
	        url:  "http://localhost:8080/v1/usuarios/"+id +"/publicaciones",
	        type: "POST",
	        data: data,
	        processData: false,
	        contentType: false,
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
              console.log("post agregad");
              alert("Post agregado con exito");
            },
            error: function (e) {
                  alert("error agregando el usuario "+data.responseText);


            }

    });
}


  </script>

    <header>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>InstaUami</strong>
          </a>

    <div class="d-flex">
    <span class="input-group-text" id="basic-addon1">@</span>
      <input class="form-control me-2" type="search" placeholder="Busca un usuario" aria-label="Search">

    </div>

        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
            <img width="200" height="200"  id="fotoUsuario" src=""/>
          <h1 class="jumbotron-heading" id="nombre"></h1>
          <p class="lead text-muted" id="des"></p>
          <p>
            <button type="button" class="btn btn-lg btn btn-dark" data-toggle="modal" data-target="#addModal">Agrega una nueva Foto</button>

          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#viewModal">Ver</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#editModal">Editar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>



    <!-- viewModal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Titulo de la publicacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        <figure class="figure">
            <img src="..." class="img-fluid" alt="Responsive image"> 
            <figcaption class="figure-caption">Descripción de la imagen</figcaption>
         </figure>
         <div>
         	<a href="#">Ver mas fotos en esta ubicaión</a>
         </div>
         
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger">Eliminar Foto</button>
        </div>
        </div>
    </div>
    </div>

    <!-- editModal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edita la publicacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
             <div class="text-center">

      <form class="form-signin" >

      <input type="text" id="descripcionPost" class="form-control" placeholder="Descripción" required autofocus>

      <input type="text" id="locacion" class="form-control" placeholder="Locacion" required autofocus>


</form>
  </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Actualizar</button>
        </div>
        </div>
    </div>
    </div>


        <!-- addModal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Agrega un Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

  <div class="text-center">

      <form class="form-signin" enctype="multipart/form-data">

      <input type="text" id="descripcionPost" class="form-control" placeholder="Descripción" required autofocus>

      <input type="text" id="locacion" class="form-control" placeholder="Locacion" required autofocus>


</form>
      <form method="POST" enctype="multipart/form-data" id="fileUploadForm" class="form-signin">
            <h6>Selecciona una foto </h6>
			<input type="file" class="form-control" name="file">
		</form>

  </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="addPost()">Agregar</button>
        </div>
        </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/vendor/holder.min.js"></script>
  </body>
</html>
