<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Registrate</title>

  <!-- Bootstrap core CSS -->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/form.css" rel="stylesheet">
  <!--<link  th:href="@{/StCSS/style.css}" rel="stylesheet"> -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script>

    function validar() {

      var usuario = document.getElementById('nombreDeUsuario').value;
      if (usuario.length == 0) {
        alert('Necesitas ingresar un nombre de usuario');
        return;
      }
      var usuario = document.getElementById('descripcion').value;
      if (usuario.length == 0) {
        alert('Necesitas ingresar una descripcion');
        return;
      }
      var clave = document.getElementById('passwrd').value;
      if (clave.length < 6) {
        alert('Tu contraseña debe tener almenos 6 caracteres');
        return;
      }
      var email = document.getElementById('correo');

      var emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i;

      if (!(emailRegex.test(email.value))) {
        alert('El correo no es correcto');
        return;
      }
      var image = $("#file").val();
      if (!image) {
        alert('Necesitas seleccionar una foto de perfil');
        return;
      }

      agregar();

    }


    function agregar() {


      var form = $('#fileUploadForm')[0];
      var data = new FormData(form);


      var jsonDataObj = JSON.stringify({ "nombreDeUsuario": $("#nombreDeUsuario").val(), "descripcion": $("#descripcion").val(), "correo": $("#correo").val(), "passwrd": $("#passwrd").val() });
      data.append("jsondata", jsonDataObj);
      $("#btnSubmit").prop("disabled", true);
      $.ajax({
        enctype: 'multipart/form-data',
        type: "POST",
        url: "http://localhost:8080/v1/usuarios",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
          alert("Usuario Agregado con exito");
          window.location.href = "/";

        },
        error: function (e) {
          alert("Error al agregar el usuario \nIntenta de nuevo");


        }
      });

    }

  </script>

</head>

<body>
  <div class="text-center col-2">

    <form class="form-signin" enctype="multipart/form-data" id="fileUploadForm">
      <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>

      <input id="nombreDeUsuario" class="form-control" placeholder="Nombre" autofocus>

      <input id="descripcion" class="form-control" placeholder="Descripción">

      <input id="correo" class="form-control" placeholder="Correo">

      <input type="password" id="passwrd" class="form-control" placeholder="Contraseña">

      <h6>Selecciona tu foto de perfil</h6>
      <input type="file" class="form-control" name="file" id="file">

    </form>
    <div class="gap-2">

      <button onclick="validar()" class="btn btn-lg btn-dark btn-block">Registrar</button>
      <a class="btn btn-lg btn-dark btn-block" href="/">Iniciar Sesion</a>
    </div>
  </div>
</body>

</html>