<!DOCTYPE HTML>
<html>
    <head>
        <title>Tutorial Spring boot</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<link rel="stylesheet" type="text/css" href="estilo.css" />-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            var url = "http://localhost:8080/v1/usuarios";
            function actualizar()
            {
                $.ajax({
                    url: url+"/"+$("#iden").val(),
                    data:"{\"nombre\":\""+$("#nom").val()+"\",\"apellido\":\""+$("#app").val()+"\",\"edad\":"+$("#edad").val()+",\"grupo\":"+$("#grupo").val()+"}" ,
                    type: 'PUT',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(data){ 
                    alert("usuario editado con exito");
                    },
                    error: function(data) {
                    alert("error editando el usuario "+data.responseText);
                    }
                });
            }

        </script>
    </head>
    <body>
        <h1>Editando usuario</h1>
        <input id="iden" type="hidden" th:value="${id}"/>
        <label for="nombre">Nombre:</label>
        <input id="nom" type = "text" name = "nombre" th:value="${nombre}"><br>
        <label for="apellido">Apellido:</label>
        <input id="app" type = "text" name = "apellido" th:value="${apellido}"><br>
        <label for="edad">Edad:</label>
        <input id="edad" type = "number" min="0" max="120" name = "edad" th:value="${edad}" ><br>
        <label for="grupo">Selecciona Grupo:</label>
        <select id="grupo" name="grupo" >
            <option value="-1">Selecciona grupo</option>
            <option  th:selected="${grupo} == ${grupos.nombre}" th:each="grupos : ${grupos}" th:value="${grupos.idGrupo}" th:text="${grupos.nombre}"></option>
        </select>
        <br>
        <button onclick="actualizar()" >Actualizar</button>
        <br>
        <form action="regresarMenu" method = "get">
            <input type="submit" value="Volver al Menu"/>
        </form> 

    </body>
</html>
